.product-page {
  display: flex;
  gap: 40px;
  padding: 30px;
}

.left-section {
  width: 45%;
}

.main-img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.thumb-row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumb {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border: 1px solid #ccc;
  cursor: pointer;
}

.right-section {
  width: 55%;
}
